.ContainerBox {
  width: 85vw; /* Ширина 90% от ширины окна */
  height: 40vh; /* Высота 40% от высоты окна */
  max-width: 700px; /* Максимальная ширина */
  max-height: 400px; /* Максимальная высота */
  overflow: hidden; /* Обрезаем лишнее содержимое */
  border-radius: 40px;
  position: relative; /* Для правильного позиционирования */
}

.map-container {
  width: 100%; /* Занимаем всю ширину родителя */
  height: 100%; /* Занимаем всю высоту родителя */
  position: absolute; /* Позволяет корректно сжимать карту */
}
